html,body{
	width: 100%;
	height: 100%;
/*	min-width: 1024px;
	min-height: 768px;*/
	padding: 0;
	margin: 0;
	background-color: rgba(0,0,0,1);
	font-family: Microsoft JhengHei;
	filter: none !important;
	position: relative;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
}


.wp-Lframe{
	width: 100%;
	height: 100%;
}

#wp-banner{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 2.86vw;
	width: 100vw;
	background-color: rgba(78,78,79,1);
	z-index: 1000;
	filter: none !important;
	overflow: hidden;
}


#wp-marquee{
	position: absolute;
	bottom: 0px;
	left: 0px;
	height: 2.08vw;
	width: 100vw;
	border-top: 1px solid rgba(19,19,20,1);
	overflow: hidden;
}

#wp-mainContent{
	z-index: 5;
	overflow-x:hidden;
	-webkit-overflow-scrolling: touch;
}

/*wp-banner*/
#wp-logo{
	position: absolute;
    left: 2.86vw;
    top: 0px;
	display: inline;
	height: 2.86vw;
	background-position: left;
	background-repeat: no-repeat;
	background-size: contain;
}
#wp-logo > img{
	height: 2.86vw;
}
#wp-menuToggler{
	position: absolute;
    left: 0px;
    top: 0px;
	width: 2.86vw;
	height: 2.86vw;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 2.28vw;	
}
.wp-menuTogglerClose{
	background-image: url(../icon/Banner/bt_menu_hide.svg);
}
#wp-menuToggler:hover{
	background-image: url(../icon/Banner/bt_menu_open.svg);
}
.wp-menuTogglerOpen {
	background-color: rgba(40,40,40,1);
	background-image: url(../icon/Banner/bt_menu_open.svg);
	filter: none !important;
}

#wp-srp-title{
	display: inline-block;
	height: 2.86vw;
	line-height: 2.86vw;
	font-size: 1.1vw;
	font-weight: bold;
	color:rgb(255,255,255);
	vertical-align: top;
	font-family: Microsoft JhengHei;
}
#wp-banner-icon{
	position: absolute;
	right: 16.55vw;
	top: 0px;
	width: 13vw;
}
#wp-alarm{
	float: right;
	height: 2.86vw;
	width: 2.86vw;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../icon/Banner/alarm-2.svg);
	background-size: 2.08vw;
	text-align: center;
}

#wp-almNum{
	float: right;
	padding: 0 1px;
	margin: 3px;
	display: inline-block;
	min-width: 1.04vw;
	min-height:1.04vw;
	border-radius: 50px;
	border: 2px solid rgba(70,70,70,1);
	background-color: rgba(255,59,48,1);
	color: rgba(255,255,255,1);
	filter: none !important;
	font-size: 1vw;
}

#wp-notice{
	float: right;
	height: 2.86vw;
	width: 2.86vw;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../icon/Banner/alarm-2.svg);
	background-size: 2.08vw;
	text-align: center;
}

#wp-noteNum{
	float: right;
	padding: 0 1px;
	margin: 3px;
	display: inline-block;
	min-width: 1.04vw;
	min-height:1.04vw;
	border-radius: 50px;
	border: 2px solid rgba(70,70,70,1);
	background-color: rgba(255,162,0,1);
	color: rgba(255,255,255,1);
	filter: none !important;
	font-size: 1vw;
}

#wp-user{
	float: right;
	height: 2.86vw;
	width: 2.86vw;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../icon/Banner/user-white.svg);
	background-size: 2.08vw;
}
#wp-zoom{
	display: none;
	float: right;
	height: 2.86vw;
	width: 2.86vw;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../icon/Banner/zoom_out.svg);
	background-size: 2.08vw;	
}

#wp-zoom.zoom_in{
	background-image: url(../icon/Banner/zoom_in.svg);
}

#wp-zoom.zoom_out{
	background-image: url(../icon/Banner/zoom_out.svg);
}

#wp-curTime{
	position: absolute;
	right: 7.08vw;
	top: 0px;
	width: 6vw;
	height: 2.86vw;
	font-size: 0.9vw;
	color: rgb(255,255,255);
	text-align: left;
	letter-spacing:1px;
	margin: 0px 0px 0px 0;
	font-weight: 100;
}

#wp-date{
	height: 1.4vw;
	line-height: 1.4vw;
	margin-top: 2px;
}
#wp-time{
	height: 1.4vw;
	line-height: 1.2vw;
}

#wp-powerBy{
	position: absolute;
	right: 0px;
	top: 0px;
	height: 2.86vw;
	width: 7.08vw;
	line-height: 2.86vw;
	color: rgba(255,255,255,1);
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../icon/Banner/WISE-PaaS_line.svg);
	background-size: 7.08vw auto;	
}

/*wp-marquee*/
#wp-marquee marquee{
	width: 100%;
	height: 100%;
	font-size: 1.04vw;
	color: rgba(255,255,255,1);
	line-height: 2.04vw;
}

/*wp-menu*/
#wp-menu-swipeRight{
	position: absolute;
    top: 0;
	width: 15.6vw;
	height: 100%;
	z-index: 100;
	background-color: rgba(31,31,32,1);
	border-right: 3px solid rgba(55,55,56,1);
	display: none;
	filter: none !important;
}

#items-list{
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
    
}

#items-list > li{
	white-space:nowrap;
	overflow: hidden;
    text-overflow: ellipsis; 
	position: relative;
	display: block;
	width: 100%;
	color: rgb(255,255,255);
    cursor:pointer;
	/*border-bottom: 1px solid #FFFFFF;*/
}
#items-list > li.item-list-title{height: 3.328vw;}
#items-list > li.item-list-content{min-height: 3.328vw;}

#items-list > li > .icon-text{
	position: absolute;
	left: 0px;
	margin: 0 auto 2px auto;
	height: 3.328vw;
	line-height: 3.328vw;
	font-size: 0.936vw;
	text-align: center;
	text-indent: 10px;
}

#items-list > li.item-list-title:active{
	background-color: rgba(5,84,115,1);
	filter: none !important;
}

#items-list > li.item-active > .icon-text{
	/*color: rgb(90,200,250);*/
	color: rgb(255,255,255);
}

#items-list > li.item-list-content{
	display: none;
}

#items-list > li.item-list-content.item-active{
	display: block;
}

li.item-list-title.item-active,
li.item-list-content.item-active{
	background-color: rgba(31,31,32,1);
	filter: none !important;
}

#items-list > li.item-list-content ul{
	list-style: none;
}

#items-list > li.item-list-content li{
	min-height: 1.56vw;
    line-height: 1.56vw;
    font-size: 0.936vw;
}
#items-list > li.item-list-content ul.item-list-layer2{
	padding: 0px;
	text-indent: 2.08vw;
}
#items-list > li.item-list-content ul.item-list-layer3{
	padding: 0px;
	text-indent: 3.12vw;
}

#items-list > li.item-list-content li.item-list-file{
	white-space:nowrap;
	overflow: hidden;
    text-overflow: ellipsis; 
}

#items-list > li.item-list-content li.item-list-file:hover{
	background-color: rgb(5,84,115);
	font-weight: bold;
	filter: none !important;
}
#items-list > li.item-list-content li.item-list-file.onclick{
	color: rgb(90,200,250);
	background-color: rgb(31,31,32);
	filter: none !important;
}

/* wp-mainContent */
#wp-mainContent > iframe{
	margin:0.52vw;
	width: cale(100% - 1.04vw);
	height:  cale(100% - 1.04vw);
	border:0;
	overflow: auto;
}
.wp-leftFrame, .wp-rightFrame{
	/*overflow-y: scroll;*/
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
.wp-leftFrame > iframe, .wp-rightFrame > iframe{
	border:0;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

/*override*/
.wp-Lframe > .ui-layout-pane {
    background: #000000;
    border: 0px solid #BBB;
    padding: 0px;
    overflow: auto;
}

.wp-Lframe > .ui-layout-resizer	{ /* all 'resizer-bars' */
	background:		rgba(70,70,70,1);
	border:			0px solid rgba(70,70,70,1);
	border-width:	0;
}

.ui-layout-toggler {
	border: 0px solid #000000 !important; /* match pane-border */
	background-color: #000000 !important;
	border-width: 0px 0 !important;
	width: 0 !important;
}

/* Language */
#lang-list{
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
}

#lang-list > li{
	white-space:nowrap;
	overflow: hidden;
    text-overflow: ellipsis; 
	position: relative;
	display: block;
	width: 100%;
	color: rgb(255,255,255);
	/*border-bottom: 1px solid #FFFFFF;*/
    cursor:pointer;
}
#lang-list > li.lang-list-title{height: 3.328vw;}
#lang-list > li.lang-list-content{min-height: 3.328vw;}

#lang-list > li > .icon-text{
	position: absolute;
	left: 0px;
	margin: 0 auto 2px auto;
	height: 3.328vw;
	line-height: 3.328vw;
	font-size: 0.936vw;
	text-align: center;
	text-indent: 10px;
}

#lang-list > li.lang-list-title:active{
	background-color: rgba(5,84,115,1);
	filter: none !important;
}

#lang-list > li.lang-active > .icon-text{
	/*color: rgb(90,200,250);*/
	color: rgb(255,255,255);
}

#lang-list > li.lang-list-content{
	display: none;
}

#lang-list > li.lang-list-content.lang-active{
	display: block;
}

#lang-list > li.lang-list-title.lang-active,
#lang-list > li.lang-list-content.lang-active{
	background-color: rgba(31,31,32,1);
	filter: none !important;
}
#lang-list > li.lang-list-content ul{
	list-style: none;

	padding: 0px;
	text-indent: 2.08vw;
}

#lang-list > li.lang-list-content li{
	min-height: 1.56vw;
    line-height: 1.56vw;
    font-size: 0.936vw;
}

#lang-list > li.lang-list-content li.lang-list-file{
	white-space:nowrap;
	overflow: hidden;
    text-overflow: ellipsis; 
}

#lang-list > li.lang-list-content li.lang-list-file:hover{
	background-color: rgb(5,84,115);
	font-weight: bold;
	filter: none !important;
}
#lang-list > li.lang-list-content li.lang-list-file.onclick{
	color: rgb(90,200,250);
	background-color: rgb(31,31,32);
	filter: none !important;
}