/* For Mobile */
@media screen and (max-width: 1030px) {
  #wp-banner {
    height: 33px;
    width: 100%;
  }

  #wp-menu {
    top: 33px;
    left: 0px;
    height: calc(100% - 53px);
    width: 64px;
  }

  #wp-marquee {
    height: 20px;
    width: 100%;
  }
/*wp-banner*/
  #wp-logo {
    left: 33px;
    top: 0px;
    height: 33px;
  }

  #wp-logo > img {
    height: 33px;
  }

  #wp-menuToggler {
    left: 0px;
    top: 0px;
    width: 33px;
    height: 33px;
    background-size: 30px;
  }

  #wp-srp-title {
    height: 33px;
    line-height: 33px;
    font-size: 16px;
  }

  #wp-banner-icon {
    position: absolute;
    right: 180px;
    top: 0px;
    width: 150px;
  }

  #wp-alarm {
    height: 33px;
    width: 33px;
    background-size: 26px;
  }

  #wp-almNum {
    padding: 0 2px;
    margin: 3px;
    margin-right: -5px;
    min-width: 10px;
    min-height: 10px;
    font-size: 10px;
    border-radius: 50px;
    border: 2px solid rgba(70,70,70,1);
  }

  #wp-notice {
    height: 33px;
    width: 33px;
    background-size: 26px;
  }

  #wp-noteNum {
    padding: 0 2px;
    margin: 3px;
    margin-right: -5px;
    min-width: 10px;
    min-height: 10px;
    font-size: 10px;
    border-radius: 50px;
    border: 2px solid rgba(70,70,70,1);
  }

  #wp-user {
    height: 33px;
    width: 33px;
    background-size: 26px;
  }

  #wp-zoom {
    height: 33px;
    width: 33px;
    background-size: 26px;
  }

  #wp-curTime {
    right: 90px;
    top: 0px;
    width: 80px;
    height: 30px;
    font-size: 12px;
    letter-spacing: 1px;
    margin: 3px 0px 3px 0;
  }

  #wp-date {
    height: 12px;
    line-height: 12px;
    margin-bottom: 1px;
  }

  #wp-time {
    height: 12px;
    line-height: 12px;
  }

  #wp-powerBy {
    height: 33px;
    width: 90px;
    line-height: 33px;
    background-size: 90px auto;
  }
/*wp-marquee*/
  #wp-marquee marquee {
    font-size: 12px;
    line-height: 20px;
  }
/*wp-menu*/
  #items-list > li.item-list-title {
    height: 30px;
  }

  #items-list > li.item-list-content {
    min-height: 30px;
  }

  #items-list > li > .icon-text {
    margin: 0 auto 2px auto;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    text-indent: 8px;
  }

  #items-list > li.item-list-content li {
    min-height: 24px;
    line-height: 24px;
  }

  #items-list > li.item-list-content ul.item-list-layer2 {
    padding: 0px;
    text-indent: 40px;
  }

  #items-list > li.item-list-content ul.item-list-layer3 {
    padding: 0px;
    text-indent: 60px;
  }

/* wp-mainContent */
  #wp-mainContent > iframe {
    margin: 10px;
    width: cale(100% - 20px);
    height: cale(100% - 20px);
  }

}
